POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=openalex
POSTGRES_HOST=db
POSTGRES_PORT=5432

DB_CONNECTION_URL=postgresql://postgres:postgres@db:5432/openalex

# OpenAlex API URL
OA_API_URL="https://api.openalex.org"

# OpenAlex API key
OA_API_KEY=

# OpenAlex number of results per page to fetch
OA_PER_PAGE=200